<div class="outer">
    <div class="header">
        <ul>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/work">Work</a></li>
            <li><a routerLink="/index">Home</a></li>
        </ul>
    </div>
    <div class = "inner">
        <div class="heading">
            <h1 class="text">Hello 👋,</h1>
            <h1 class="text">this is Prakhar Sharma</h1>
        </div>
        
        <div class="code">
            <p>&lt;div&gt;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;He loves to code.&lt;/p&gt;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;He is a Frontend Developer.&lt;/p&gt;</p>
            <p>&lt;/div&gt;</p>
        </div>
    </div>
    <div class="l1"><div class="dot"></div></div>
    <div class="l2"><div class="dot"></div></div>
    <div class="l3"><div class="dot"></div></div>
</div>